<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>bagels</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>
<a href="/menu">Menu</a>
<p>ememememe</p>
<p> <form action="/bagels" method="post">
  <label for="content">Edit:</label>
  <input id="content" name="content" th:text="${content}">This is some editable content on the page. Click here to edit this text directly!
  <button type="submit">Update</button>
</form> </p>
</body></html>