<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>bagels</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>BAGELS</h1><a href="/menu">Menu</a>
<p>I <b>like</b> cheese and bagels 
I <i>like</i> <sub>cheese</sub> 
I <sup>like</sup> cheese</p>
<p> <form action="/bagels" method="post">
    <label for="content">Edit:</label>
    <input id="content" name="content" th:text="${content}">
    <button type="submit">Update</button>
</form> </p></body></html>