<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>cheese</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>CHEESE</h1><a href="/menu">Menu</a>
<p>I <b>blike</b> cheese, <b>bnot</b> bagels
I <i>ihate</i> <b>bbagels</b> 
I <sup>uhate</sup> bagels</p>
<p> <form action="/cheese" method="post">
    <label for="content">Edit:</label>
    <input id="content" name="content" th:text="${content}">
    <button type="submit">Update</button>
</form> </p></body></html>