<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div class="col-md-6">
        <h2 class="text-body-emphasis">WELCOME TO THE HOMEPAGE</h2>
        <p>Here is some text</p>
    <ul class="list-unstyled ps-0"> <li> <a class="icon-link mb-1" href="../greeting">
        <svg class="bi" width="16" height="16" aria-hidden="true"><use xlink:href="#arrow-right-circle"></use></svg>
    Link to greeting page
</a> </li> </ul>
    <footer class="pt-5 my-5 text-body-secondary border-top">
    Annie Z &middot; &copy; 2025 </footer> </div>
</html>