<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Entry Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<h1>
    Enter your name:
</h1>

<form id="nameForm">
    <input id="name" type="text" placeholder="Bob" required>
    <button type="submit">Submit</button>
</form>

<p>I <b>like</b> cheese and bagels </p>
<p>I <i>like</i> <sub>cheese</sub> </p>
<p>I <sup>like</sup> cheese </p>

<script src="textbox.js"></script>

</body>



</html>

